/* paleta */

body { 
	background-color: #191c1c;
	color: #cec9c3;
	font-family: monospace;
	text-align: center;
} 

h1 {
	background-color: #363131;
	color: #ffd5ff;
	display: inline;
}

.highlight:hover {
	color: #ffa2ff;
}

h2 {
	color: #ffd5ff;
	text-align: justify;

}

section {
	text-align: left;
}

a:link, a:visited {
	text-align: justify;
	background-color: #363131;
	text-decoration: none;
	display: inline;
	text-align: left;
	color: #a2a2ff;
	cursor: pointer;
	font-weight: bold;
	margin-bottom: 10px;
}

a:hover {
	background-color: #10069f;
	color: white;
	margin-bottom: 10px;
}

a.ph:hover {
	background-color: #ffa31a;
	color: #1b1b1b;
	margin-bottom: 10px;
}

div {
	margin: 69px;
}
img {
	max-height: 100%;
	max-width: 100%;
}